<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>ZERO</title>

  <script src="http://semantic-ui.com/dist/semantic.min.js"></script>
  <script src="http://semantic-ui.com/javascript/card.js"></script>
  <link rel="stylesheet" type="text/css" class="ui" href="http://semantic-ui.com/dist/semantic.min.css">
  <link rel="stylesheet/less" type="text/css" href="http://semantic-ui.com/src/definitions/views/card.less">

  <!--- Site CSS -->
  <!--link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/site.css">
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/grid.css"-->

  <!--- Component CSS -->
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/menu.css">
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/dropdown.css">
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/icon.css">
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/transition.css">

  <!--- Example Libs -->
  <link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/components/popup.css">
  <script src="http://semantic-ui.com/assets/library/jquery.min.js"></script>
  <script src="http://semantic-ui.com/assets/library/iframe-content.js"></script>
  <script src="http://semantic-ui.com/assets/show-examples.js"></script>
  <script type="text/javascript" src="http://semantic-ui.com/dist/components/popup.js"></script>

  <!--- Component JS -->
  <script type="text/javascript" src="http://semantic-ui.com/dist/components/transition.js"></script>
  <script type="text/javascript" src="http://semantic-ui.com/dist/components/dropdown.js"></script>

  <!--- Example CSS -->
  <style>
  body {
    padding: 1em;
  }
  .ui.menu {
    margin: 3em 0em;
  }
  .ui.menu:last-child {
    margin-bottom: 110px;
  }
  </style>

  <!--- Example Javascript -->
  <script>
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
 </script>

</head>
<body>
<div class="ui menu">
  <div class="header item">ZERO</div>
  <a class="active item" href="{{ url_for('upload') }}">上传资源</a>
  <a class="item">七天取牛</a>
  <div class="right menu">
    <div class="item">
      <div class="ui action left icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search">
        <button class="ui button">Submit</button>
      </div>
    </div>
    <a href="{{ url_for('logout') }}" class="item">登出</a>
  </div>
</div>

<div class="ui three column grid">
  {% for banner in banner_json %}
  <div class="ui special cards">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
              <div class="ui inverted button">复制外链</div>
          </div>
        </div>
      </div>
      <img src={{ banner.get('img') }}>
    </div>
    <div class="content">
      <a class="header">{{ banner.get('filename') }}</a>
      <div class="meta">
          <span class="date">Create in {{ banner.get('update') }}</span>
      </div>
    </div>
    <div class="extra content">
      <a href={{ banner.get('url') }} target='_blank'>
        <i class="users icon"></i>
        banner链接
      </a>
    </div>
    <div class="ui bottom attached button">
      <i class="add icon"></i>
      删除资源
    </div>
  </div>
  </div>
  {% endfor %}
</div>

</body>
</html>
